@import "tailwindcss";
@plugin "daisyui";

@theme {

   --font-pixel: "Press Start 2P", monospace;

  --animate-reveal-brightness: revealBrightness 0.5s ease-out forwards;

  @keyframes revealBrightness {
    from {
      filter: brightness(0);
    }
    to {
      filter: brightness(1);
    }
  }

  
}

